body{
   	background-color: rgba(0,0,0,0.05);
}
#login_header{
	height:710px;
    width:auto;
    background-color: white;
}
#login_area{
    margin-bottom:0px;
    margin-left: 618px;
    margin-right: 618px;
    margin-top:0px;
    width:365px;
    height:710px;
    background-color: rgb(0,0,0,0.1);
    border: 1px grey solid;
}    
#login_logo{position: relative;
            top:150px;
            left: 92.5px;
         	height:69px;
            width:180px;
            background-color: rgba(255,255,255)}
#login_way_namea{position: relative;
            top:170px;
            left: 80px;
              height: 35px;
              width:75px;
              background-color: rgba(255,255,255,0.5);
              }
             
#login_way_nameb{position: relative;
            top:135px;
            left: 210px;                       
         	  height:35px;
              width:75px;
              background-color: rgba(255,255,255,0.5)}
                                     
#phone_enter{position: relative;
            top:  170px;
         	  
         	  height:60px;
              width:365px;
              background-color: rgba(255,255,255,0.5);}
              
         
#verification_code_enter{position: relative;
            top:  185px;
         	  height:60px;
              width:365px;
         	  background-color: rgba(255,255,255,0.5);}              
#login_hint{position: relative;
            top:195px;
         	  height:60px;
              width:365px;
              background-color: rgba(255,255,255,0.5);}
              
#login_button{position: relative;
            top:205px;
         	height:60px;
            width:365px;
            background-color: rgba(240,133,37,0.8);}
            
